/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2 {
    color: #ffbf00;
}
.text-vertical-center {
    display: inline-block;  /* display: table-cell; */
    text-align: center;     /* text-align: center; */
    vertical-align: middle; /* vertical-align: middle; */
    color: #fff;            /* color: #fff; */
    float: none;
    margin-top: 5%;
}
.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
    color: #fff; /* Erodin */
}
/* Custom Button Styles */
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}
.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}
.btn-light:hover, .btn-light:focus, .btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}
/* Custom Horizontal Rule */
hr.small {
    max-width: 100px;
}
/* Side Menu */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 0; /* Erodin org right */
    width: 250px;
    height: 100%;
    margin-left: -250px; /* Erodin org margin-right */
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #ffbf00; /* Erodin org #fff */
    background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}
#sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    margin: 5px 0 0 5px;
}
/* Side Menu1 */
#sidebar-wrapper1 {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.sidebar-nav1 {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav1 li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-nav1 li a {
    display: block;
    text-decoration: none;
    color: #fff;
}
.sidebar-nav1 li a:hover {
    text-decoration: none;
    color: #ffbf00;
    background: rgba(255,255,255,0.2);
}
.sidebar-nav1 li a:active,
.sidebar-nav1 li a:focus {
    text-decoration: none;
}
.sidebar-nav1 > .sidebar-brand1 {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}
.sidebar-nav1 > .sidebar-brand1 a {
    color: #999;
    text-transform: uppercase;
}
.sidebar-nav1 > .sidebar-brand1 a:hover {
    color: #fff;
    background: none;
}
#menu-toggle1 {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    text-transform: uppercase;
}
#sidebar-wrapper1.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle1 {
    margin: 5px 5px 0 0;
}
/* Header */
.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../../public/img/bg1920x1080.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* About */
.about {
    padding: 50px 0;
}
/* Services */
.services {
    padding: 50px 0;
}
.service-item {
    margin-bottom: 30px;
}
/* Callout */
.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../../public/img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* Portfolio */
.portfolio {
    padding: 50px 0;
}
.portfolio-item {
    margin-bottom: 30px;
}
.img-portfolio {
    margin: 0 auto;
}
.img-portfolio:hover {
    opacity: 0.8;
}
/* Call to Action */
.call-to-action {
    padding: 50px 0;
}
.call-to-action .btn {
    margin: 10px;
}
/* kontakt */
.kontakt {
    padding: 0;
}
/* Map */
.map {
    height: 400px;
}
.imglogo {
    width: 300px;
}
.imgautic {
    width: 220px;
}
/* Erodin Search */
#custom-search-input {
    padding: 3px;
    border: solid 1px #ffbf00;
    border-radius: 6px;
    background: none;
    display: flex;  /* org table-cell */
    text-align: center;
    vertical-align: middle;
    float: none;
    min-width: 300px;
}
#custom-search-input input {
    border: 0;
    box-shadow: none;
}
#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #ffbf00;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ffbf00;
    font-size: 25px;
}
#custom-search-input button:hover {
    border: 1px;
    box-shadow: none;
    border-left: solid 1px #ffbf00;
    color: #ccc;
}
#custom-search-input .glyphicon-search {
    font-size: 25px;
    color: #ffbf00;
}
/* placeholder mjenjanje boje start*/
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control:-moz-placeholder {
    color: #999;
}
.form-control::-moz-placeholder {
    color: #999;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
/* placeholder mjenjanje boje end*/
.input-lg {
    background: none;
    font-size: 24px;
    font-style: italic;
    color: #fff;
}
/* Erodin Search box END */
.autic {
    width: 220px;
    height: auto;
    overflow: hidden;
    position: absolute;
    right: 25%;
    bottom: 1px;
    float: right;
}
.languages {
    position:absolute;
    right:10px;
    top:5px;
    float:right;
}
.languages img {
    margin:3px;
    border:none;
}
/* Erodin map*/
.map iframe {
    pointer-events: none;
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
    .map {
        height: 80%;
    }
    .imglogo {
        margin-top: 30px;
        width: 200px;
    }
    #custom-search-input button {
        font-size: 16px
    }
    #custom-search-input .glyphicon-search {
        font-size: 16px;
    }
    .input-lg {
        font-size: 16px;
    }

    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 18px;
    }
}

@media(max-width:480px) {
    .imglogo {
        margin-top: 20px;
        width: 150px;
    }
    .imgautic {
        width: 110px;
    }
    .input-lg {
        height: 30px;
    }
    #custom-search-input {
    padding: 0px;
    min-width: 100px;
    height: 35px;
    }
}